In [1]:
import numpy as np
import pandas as pd
import sklearn

In [20]:
from google.colab import files
uploaded = files.upload()

Saving Social_Network_Ads2.csv to Social_Network_Ads2.csv

In [21]:
df = pd.read_csv('Social_Network_Ads2.csv')

In [22]:
df.head()

     UserID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [23]:
df.shape

(400, 5)

In [25]:
df.drop('UserID', axis = 1, inplace = True)

In [ ]:
df= pd.get_dummies(df,columns = ['Gender'])

In [35]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [38]:
x = df.drop('Purchased', axis = 1)

In [39]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [41]:
y = df['Purchased']

In [42]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [43]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
x_scaled = mm.fit_transform(x)

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled, y, test_size = 0.3, random_state=1)

In [45]:
from sklearn.linear_model import LogisticRegression
lor = LogisticRegression()
lor.fit(x_train,y_train)

LogisticRegression()

In [46]:
pred = lor.predict(x_test)

In [47]:
pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [48]:
y_test

398    0
125    0
328    1
339    1
172    0
      ..
91     0
322    0
248    0
186    0
395    1
Name: Purchased, Length: 120, dtype: int64

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(pred, y_test)

0.7916666666666666